/** biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind */
@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

@theme {
  --max-width-site: 1200px;
  /* Brand Blue */
  --color-brand-blue-50: #f5f7fa;
  --color-brand-blue-100: #717182;
  --color-brand-blue-200: #7084a5;
  --color-brand-blue-300: #5a6e8e;
  --color-brand-blue-400: #4d5f7a;
  --color-brand-blue-500: #475569;
  --color-brand-blue-600: #404a5c;
  --color-brand-blue-700: #404a5c;
  --color-brand-blue-800: #2d3440;
  --color-brand-blue-900: #1f2530;
  --color-brand-blue-950: #141821;

  /* Brand Green */
  --color-brand-green-50: #f4fbf0;
  --color-brand-green-100: #e6f7df;
  --color-brand-green-200: #ceefc0;
  --color-brand-green-300: #b0e599;
  --color-brand-green-400: #8cdd6e;
  --color-brand-green-500: #6fce4d;
  --color-brand-green-600: #56b038;
  --color-brand-green-700: #458d2e;
  --color-brand-green-800: #397129;
  --color-brand-green-900: #2f5e25;
  --color-brand-green-950: #173411;

  /* Brand Grey */
  --color-brand-grey-50: #eceef2;
  --color-brand-grey-100: #e1e4e9;
  --color-brand-grey-200: #c3c8d1;
  --color-brand-grey-300: #a5abb8;
  --color-brand-grey-400: #878fa0;
  --color-brand-grey-500: #697288;
  --color-brand-grey-600: #545b6d;
  --color-brand-grey-700: #3f4452;
  --color-brand-grey-800: #2a2e36;
  --color-brand-grey-900: #15171b;
  --color-brand-grey-950: #0a0b0d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
